# Build output
bin/
obj/
/build/nuget/
/src/Documentation/Api/
/src/Documentation/Help/

# Per-user files created by Visual Studio
*.suo
*.user
*.shfbproj_*
.vs/

# Per-user files created by optional Visual Studio extensions
*.DotSettings
StyleCop.Cache
_ReSharper*/
*.resharper

# MSTest Test Results
TestResult*/

# NuGet
/src/packages/
